target
.idea
.idea_modules		
.DS_Store		
.classpath_nb		
.classpath		
.project		
.settings/		
.cache		
**/*.log
client-angular2/app/css/		
client-angular2/app/js/		
client-angular2/app/fonts/		
client-angular2/app/dash/
node_modules
**/moquette*
.DS_Store
cqrs.log
client/coverage
client/dist
client/tmp
**/iot.demo